// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Add back the social sharing CSS
.sharing {
  p.meta + & {
    padding: { top: 1em; left: 0; }
    margin-bottom: 20px;
    background: $img-border top left repeat-x;
  }
}

#fb-root { display: none; }

// Restore bullets
.entry-content ol li { list-style: decimal outside none; padding: 0.1em 0 0.5em 0; }
.entry-content ul li { list-style: disc outside none; padding: 0.1em 0 0.5em 0; }

// Tweak text in the front page widgets area
p.widgets { margin: 0 0 8px 0; line-height: 1.5; padding-top: 2px; }

// Get rid of box-shadow for individual archive entries
article.archive-article-format { box-shadow: none; padding: 0; }

// Add a little space between the top of the archive list and the page title
#blog-archives { margin-top: 30px; }

// Add a little horizontal space in dt elements
.dl-horizontal dt { width: 135px; }

// adjusting where the hero-inner starts on the page
#front-wrapper {
  margin-top: 30%;
}

#hero {
// overrides
  background-image: none;
  background-position: 0 0;
  padding: 0%;
  height: 100%;

// additions
  background: url(/images/HBM_Cloud_logo.png) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

#hero-inner {
  margin-top: 15%;
  margin-left: 0%;
}

#hero-inner h1 {
// overrides
  font-size: 80px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

#hero-inner h2 {
// overrides
  font-size: 40px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.wrapper_single {
  background-image: none;
  background: url(/images/clouds.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 0;
  height: 100%;
}

#sub-hero {
// padding aligns the nav bar at the top of slider
  padding: 0px;
}

#sub-hero p {
  text-align: justify;
}

fieldset {
  float: right;
}